<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Teko:500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://spin-up.io/css/brand.css">
  <link rel="stylesheet" href="/css/main.css" />

  <!-- Fav icon -->
  <link rel="shortcut icon" type="image/png" href="https://spin-up.io/img/favicon.png">

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Meta -->
  <title>Sitemap visualiser</title>
  <meta name="description" content="Display your sitemap.xml page(s) as a tree or spider diagram" />
</head>
<body>
  <a class="teko back" href="/">Back</a>
	{{{body}}}
  <div target="_blank" class="built-by">Built by <a href="https://spin-up.io" class="teko">Spin Up</a></div>
</body>
</html>