<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>

<form method="post" action="/">
<div class="well">
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">https://</span>
		</div>
		<input type="text" class="form-control" id="url" name="url" placeholder="Enter a site to crawl" value="" required />
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary btn-block">Crawl</button>
    </div>
	</div>
	
	</div>
</form>